.main_cont {
    width: 1920px;
    height: 2880px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*    padding: 60px 20px;*/
    background-image: url("../../images/bg.png");
}

.cover {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    z-index: 9999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading_cover {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #00000055;
    position: absolute;
    z-index: 99999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 200px;
    height: 200px;
    border: 20px solid #FFFFFF;
    border-top: 20px solid transparent;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

/* 상단 텍스트 섹션 */
.header_zone {
    text-align: center;
    margin-top: 190px;
    margin-bottom: 40px;
}

.main_title {
    font-size: 95px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: -1px;
}

.main_title span {
    font-size: 100px;
}

.sub_title {
    font-size: 95px;
    font-weight: 700;
    margin-bottom: 30px;
}

.guide_box {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 80px;
    padding: 30px 100px 25px 100px;
    display: inline-block;
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.description {
    font-size: 45px;
    line-height: 2;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
    margin-top: 20px;

}

/* 작가 정보 */
.menu_mid_zone {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    height: 180px;
}

.menu_mid_title {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 5px;
}

.menu_mid_name {
    font-size: 60px;
    font-weight: 400;
}

/* 버튼 그리드 */
.box_btns_big {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 5열 배치 */
    gap: 15px;
    max-width: 1600px;
}

/* 버튼 스타일 (요청하신 사이즈 및 이미지 적용) */
.menu_btn_s {
    width: 298px;
    height: 248px;
    background: url('../../images/bt_play_list.svg') no-repeat center/contain;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    transition: all 0.2s;
    outline: none;
}

/* 버튼 텍스트 스타일 */
.menu_btn_s {
    color: #333;
    /* 버튼 내부 텍스트 색상 */
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    word-break: keep-all;
    line-height: 1.2;
    box-sizing: border-box;
    word-break: break-all;
}

/* 클릭(Active) 시 이미지 변경 */
.menu_btn_s:active, .menu_btn_s.is-active {
    background-image: url('../../images/bt_play_list_o.svg');
}

.page_bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
